@model ProduccionModel
@{
    ViewData["Title"] = "Carga de Producción Diaria";
}
<br />
<div class="text-center">
    <h1 class="display-4">Carga de Producción Diaria</h1>
</div>
<div class="text-center container-fluid">
    <h3>Ingrese los datos de la linea de producción</h3>
</div>
<br />
@using (Html.BeginForm("Carga", "Produccion", Model, FormMethod.Post))
{
    <div class="row mb-3">
        <div class="col-md-2">
            Fecha:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Fecha, new
            {
                type = "date"

            })
            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr mb-3>
    <div class="row mb-3">
        <div class="col-md-2">
            Figura:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(f => f.IdFigura, Model.Figuras, "Seleccione una figura")
            @Html.ValidationMessageFor(model => model.IdFigura, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            Combinación:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Combinacion, new
            {
                type = "text",
                @class = "OnlyInteger",
                @maxlength = "7"
            })
            @Html.ValidationMessageFor(model => model.Combinacion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            Cantidad sets:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CantidadSets, new
            {
                type = "text",
                @class = "OnlyInteger",
                @maxlength = "7"
            })
            @Html.ValidationMessageFor(model => model.CantidadSets, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            &nbsp;
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <input type="submit" class="btn btn-success" style="width:220px;" value="Guardar Producción">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            
        </div>
    </div>
}
<br />
@section scripts {
    <script>
        fnKeyIntegerOnly();
        fnKeyNumbersOnly();
    </script>
}

