@model ProduccionModel
@{
    ViewData["Title"] = "Carga de Producción Diaria";
}
<br />
<div class="text-center">
    <h1 class="display-4">Carga de Producción Diaria</h1>
</div>
<div class="text-center container-fluid">
    <h3>Ingrese los datos de la linea de producción</h3>
</div>
<br />
@using (Html.BeginForm("Carga", "Produccion", FormMethod.Post))
{
    <div class="row mb-3">
        <div class="col-md-2">
            Fecha:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Fecha, new
            {
                type = "date"
           
            })
        </div>
    </div>
    <hr mb-3>
    <div class="row mb-3">
        <div class="col-md-2">
            Figura:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(f => f.IdFigura, Model.Figuras, "Seleccione una figura")
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            Combinación:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Combinacion, new
            {
                type = "text",
                @class = "OnlyInteger",
                //onblur = "fnMostrarValores();",
                @maxlength = "7"
            })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            Cantidad sets:&nbsp;
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CantidadSets, new
            {
                type = "text",
                @class = "OnlyInteger",
                //onblur = "fnMostrarValores();",
                @maxlength = "7"
            })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            &nbsp;
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md">
            <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("GetStudents")'" style="width:220px;">Guardar Producción</button>
            <input type="submit" value="Create" id="Submit" class="btn btn-default" onclick="location.href='@Url.Action("GetStudents")'" />
        </div>
    </div>
}
<br />
@section scripts {
    <script>
        fnKeyIntegerOnly();
        fnKeyNumbersOnly();

        function fnMostrarValores() {
            var vImporte = 0;
            vImporte = Number($("#lblCantidadItems").text());
            vImporte = vImporte * Number($("#txtCantidad").text());
            vImporte = Math.round((vImporte + Number.EPSILON) * 100) / 100;
            alert(vImporte);
            $('#lblCantidadItems').text = "hola";
            //$('#txtCantidad')
        }
        
    </script>
}

